@model SweetSavory.Models.Flavor;
@using SweetSavory.Models;
@{
    ViewData["Title"] = @Model.FlavorName + " Details";
}
<h2>Flavor: @Html.DisplayFor(model => model.FlavorName)</h2>
<hr />
<h4>Related Treats:</h4>
  <ul>
        @foreach(var join in Model.Treats)
        {
            <li>@Html.ActionLink($"{@join.Treat.TreatName}", "Details", "Treats", new {id = @join.TreatId})</li>
            @using (Html.BeginForm("DeleteTreat", "Treats"))
            {
            @Html.Hidden("joinId", @join.FlavorTreatId)

            }
        }
  </ul>
<p>@Html.ActionLink("Add Treat", "AddTreat", new { id = Model.FlavorId }, new { @class = "btn btn-primary" })</p>