@{
    ViewData["Title"] = "Welcome, Pierre";
}
@using SweetSavory.Models;

<div class="welcome">
    <h1 class="header1">Welcome</h1>
</div>
<hr>
<br>
<h2>Treats</h2>
@if (@ViewBag.Treats.Count == 0)
{
  <h6>No treats found</h6>
  <p>@Html.ActionLink("Add new treat", "Create", "Treats")</p>
} 
@foreach (Treat treat in @ViewBag.Treats)
{
  <p>@Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new { id = treat.TreatId})</p>
}
<br>
<hr>
<br>
<h2>Flavors</h2>
@if (@ViewBag.Flavors.Count == 0)
{
  <h6>No Flavors found</h6>
  <p>@Html.ActionLink("Add new Flavor", "Create", "Flavors")</p>
} 
@foreach (Flavor flavor in @ViewBag.Flavors)
{
  <p>@Html.ActionLink($"{flavor.FlavorName}", "Details", "Flavors", new { id = flavor.FlavorId})</p>
}